# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FakeFood.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\Dotnet-Journey\FakeFood\.idea\.idea.FakeFood\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
